html(lang="en")
    head
        meta(name="viewport",content="initial-scale = 1.0,maximum-scale = 1.0")
        title= "Api Documentation"

        style
            include styles.css
    body
        div.title
            h1 Api - documentation
        for endPoint in endPoints
            div.endPoint
                span.method #{endPoint.method}
                span.link
                    a(href="#{endPoint.path}") #{endPoint.path}
                if endPoint.docs != null
                    span.json
